version: '3.8'
services:
  appseed-app:
    container_name: appseed_app
    restart: always
    build: .
    env_file:
      - .env
    environment:
      - DEBUG=${DEBUG:-False}
      - SECRET_KEY=${SECRET_KEY}
      - GMAPS_SCRAPER_API_URL=${GMAPS_SCRAPER_API_URL}
      - N8N_DB_NAME=${N8N_DB_NAME}
      - N8N_DB_USER=${N8N_DB_USER}
      - N8N_DB_PASSWORD=${N8N_DB_PASSWORD}
      - N8N_DB_HOST=${N8N_DB_HOST}
      - N8N_DB_PORT=${N8N_DB_PORT}
    volumes:
      - ./gmaps_downloads:/app/gmaps_downloads
    networks:
      - db_network
      - web_network
  nginx:
    container_name: nginx
    restart: always
    image: "nginx:latest"
    ports:
      - "5085:5085"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    networks:
      - web_network
    depends_on: 
      - appseed-app
networks:
  db_network:
    driver: bridge
  web_network:
    driver: bridge
 